body {
    margin: 0;
    padding: 0;
    font-family: "TT Lakes", "Verdana", sans-serif;
    color: #000;
}
.page-header {
  /* menuback */
width: 320px;
height: 88px;
display: flex;
position: absolute;
padding-left: 0%;
padding-right: 0%;
padding-top: 0%;
padding-bottom: 85.26%;
background: #FFFFFF;
}