body {
    margin: 0;
    padding: 0;
    font-family: "TT Lakes", "Verdana", sans-serif;
    color: #1B1C21;
    width: 784px;
    height: 1024px;
}
.page {
 display: block;   
 width: 320px;
 height: 1024px;
 box-shadow: -2px 16px 52px 0px #0E185033;

}
.page-header {
    display:flex;
    justify-content: space-between;
    padding: 23px 24px;
}
.page-header__logo {
    display: flex;
    position: relative;
    left: 70px;
    top: -50px;
}

.page-header__burger {
border: none;
background-color: #fff;
}

.page__button {
 border: none;
 background-color: #fff;
}

.navigation-main__navigation {
display: block;
list-style: none;
text-decoration: none;
margin: 0;
padding: 5px;
}
.button-main__navigation {
    text-decoration: none;
    color: #1B1C21;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.navigation-main__navigation li {
    margin-bottom: 32px;
    padding-left: 24px;
}

a.button-main__navigation.active {
    color: #7e7e82;
}
a.button-main__navigation.active:before {
    content: "";
    height: 32px;
    width: 4px;
    background: #41F6D7;
    border-radius: 0% 20px 20px 0%;
    position: absolute;
    left: 0;

   
}