body {
    margin: 0;
    padding: 0;
    font-family: "TT Lakes", "Verdana", sans-serif;
    color: #1B1C21;
    width: 784px;
    height: 1024px;
}

.page {
    display: block;
    width: 320px;
    height: 1024px;
    box-shadow: -2px 16px 52px 0px #0E185033;

}

.page-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 24px 10px 24px;
}

.page-header__logo {
    display: flex;
    position: relative;
    left: 70px;
    top: -50px;
}

.page-header__burger {
    border: none;
    background-color: #fff;
}

.page__button {
    border: none;
    background-color: #fff;
}

.navigation-main__navigation {
    display: block;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 5px;
}

.button-main__navigation {
    text-decoration: none;
    color: #1B1C21;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.navigation-main__navigation li {
    margin-bottom: 32px;
    padding-left: 24px;
}

a.button-main__navigation.active:hover {
    color: #7e7e82;
}

a.button-main__navigation.active:hover::before {
    content: "";
    height: 32px;
    width: 4px;
    background: #41F6D7;
    border-radius: 0% 20px 20px 0%;
    position: absolute;
    left: 0;
}

/* footer */
.main__footer-icons {
    display: flex;
    justify-content: start;
    gap: 8px;
    padding-left: 16px;
    padding-top: 228px;
}

.main__footer-buttons {
    border: none;
    background-color: #fff;
}

.main__footer-email {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 12px;
    font-weight: 600;
}

.main__footer-contact {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-align: left;
    font-weight: 700;
    padding-left: 24px;

}

.main__footer-lang {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    list-style: none;
    padding-top: 35px;
    padding-left: 24px;
    font-weight: 700;

}
.main__footer-lang li {
    display: inline-block; 
}
.main__footer-lang .active {
    color: #7e7e82;
}